<div class="row">
    <div class="small-12 medium-6 medium-offset-3 columns">
        <h1>Edit User</h1>
        <h4 class="subheader"><small>Yous this form to create a new user.</small></h4>

        <%= render :partial => 'form', :locals => { :user => @user } %>
    </div>
</div>
