<div class="row">
    <div class="small-12 columns">
        <% flash.each do |name, msg| -%>
            <div data-alert class="alert-box <%= name %>">
                <%= msg %>
                <a href="#" class="close">&times;</a>
            </div>
        <% end %>
    </div>
</div>
