<div class="panel footer">
    <div class="left">
        <%= image_tag 'main-logo.png' %>
    </div>

    <span>
        <strong>LofoCats UI</strong>
        <br />
        <strong>Developed by:</strong> Lazarus Lazaridis
        <br />
        You can retrieve the application's code from here: <a href="https://github.com/iridakos/lofocats_api">https://github.com/iridakos/lofocats_ui</a>
        <br />
        You can retrieve the API's code from here: <a href="https://github.com/iridakos/lofocats_api">https://github.com/iridakos/lofocats_api</a>
    </span>
</div>
