<div class="row">
    <div class="small-12 medium-6 medium-offset-3 columns">
        <h1>New Cat Entry</h1>
        <h4 class="subheader"><small>Use this form to create a new entry.</small></h4>

        <%= render :partial => 'form', :locals => { :cat_entry => @cat_entry } %>
    </div>
</div>
